ACCESS_KEY_ID=your_R2_access_key_id
ACCOUNT_ID=your_R2_access_id
SECRET_ACCESS_KEY=your_R2_secret_access_key
BUCKET_NAME=your_R2_bucket_name
CARBONARC_SELLER_ID=your_seller_id
CARBONARC_SELLER_SERVICE_ID=your_seller_service_id
JWKS_URL=https://api-qa.skyfire.xyz/.well-known/jwks.json
ORY_API_KEY=your_ory_api_key
ORY_PASSWORD=your_ory_password
ORY_PROJECT_ID=your_ory_project_id
SKYFIRE_API_KEY=your_carbonarc_seller_api_key
JWT_ISSUER=https://app-qa.skyfire.xyz/
SKYFIRE_API_BASE_URL=https://api-qa.skyfire.xyz
R2_BASE_URL=your_R2_base_url